@page "/"
@using Microsoft.Extensions.Localization;
@using OFM.SellerPortal.Helpers.Interfaces;
@using OFM.SellerPortal.Models.Charts;
@using System.Drawing;
@inject IUIHelper _uiHelper;
@inject IStringLocalizer<Resources.App> _localize;

<div class="col-md-3">
    <canvas id="chartId" width="100" height="100"></canvas>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var config = ChartConfig.Create("chartId", ChartTypes.Pie, new List<ChartDataItem>
        {
            new ChartDataItem ( "Developer", 34, Color.Red ),
            new ChartDataItem ( "QA", 12, Color.Blue ),
            new ChartDataItem ( "DevOps", 18 , Color.Green ),
            new ChartDataItem ( "Manager", 8, Color.Yellow ),
        }, _localize["LoginPage.LabelPassword"]);

        await _uiHelper.GenerateChart(config);
    }
}